@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Poppins:wght@300;400;500;600&family=Space+Grotesk&display=swap');

body {
    background-color: #1c2452;
}

.orbit9 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.orbit7 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.poppins3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.poppins4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.poppins6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.svgModal {
    position: absolute !important;
    max-width: 300px !important;
    min-width: 300px;
    background-color: #3a0404c9;
    z-index: 999999 !important;
    top: 60% !important;
    right: -13% !important;
    transform: translateY(-50%);
}

.space {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

select {
    /* background-color: red !important; */
}

select::-ms-expand {
    display: none !important;
    padding-right: 40px !important;
}

@media(min-width:1439px) {
    .resp {
        width: 1420px !important;
        margin-inline: auto !important;
    }
}

@keyframes flip {
    from {
      transform: perspective(400px) rotateY(0);
    }
    to {
      transform: perspective(400px) rotateY(180deg);
    }
  }
  
  .flip-animation {
    animation-name: flip;
    animation-duration: 0.6s;
  }

  /* .backgroundImageWithOpacity::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    opacity: 0.1!important;
    z-index: -1;
    
  } */

  .backgroundImageWithOpacity {
    position: relative;
    background-size: cover;
    /* background-position: center; */
    
}

.backgroundImageWithOpacity::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    opacity: 0.05; /* Yahan aap opacity adjust kar sakte hain */
    z-index: -1; /* Ensure background is behind content */
}

  
  